---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/About.astro";
import ChooseUs from "@/components/ChooseUs.astro";
import Skills from "@/components/Skills.astro";
---

<Layout
  title="Daniela Ramirez - Administradora Propiedades Horizontales Bogotá"
  description="Descubre los diferentes servicios que ofrece Daniela Ramirez como Administración de Propiedades Horizontales en Bogotá, Colombia."
>
  <main class="mt-28">
    <About />
    <ChooseUs />
    <Skills />
  </main>
</Layout>
