---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/ContactForm.astro";
import ContactInfo from "@/components/ContactInfo.astro";
import Question from "@/components/Question.astro";
---

<Layout
  title="Daniela Ramirez - Administradora Propiedades Horizontales Bogotá"
  description="Descubre los diferentes servicios que ofrece Daniela Ramirez como Administración de Propiedades Horizontales en Bogotá, Colombia."
>
  <main>
    <ContactForm />
    <ContactInfo />
    <Question />
  </main>
</Layout>
