---
const { dated, name, image, delay } = Astro.props;
---

<div
  class="group/goals w-full flex flex-col cursor-pointer relative overflow-hidden
  group-[.scrollIsIn]:animate-reveal"
  style=`animation-delay: ${delay}ms`
  onclick=""
>
  <img
    class="object-cover rounded-2xl w-full h-80 group-hover/goals:blur-[2px]"
    src={image}
  />
  <div
    class="group-hover/goals:dark:bg-secondary-800 group-hover/goals:bg-primary-50 shadow-xl rounded-xl m-1 p-4 transition duration-700 ease-in-out opacity-0 absolute w-[calc(100%-0.5rem)] bottom-0 translate-y-24
    group-hover/goals:opacity-100 group-hover/goals:translate-y-0"
  >
    <span class="text-primary-600 font-semibold text-sm tracking-[6px]"
      >{dated}</span
    >
    <h3
      class="font-bungee text-black dark:text-white text-lg font-semibold mt-2"
    >
      {name}
    </h3>
  </div>
</div>
