<div class="bg-slate-500/20 h-[80vh]">
  <div
    class="bg-header-1 bg-cover bg-no-repeat bg-center h-full w-[100vw] flex justify-center"
  >
    <div
      class="max-w-screen-xl h-full w-full flex justify-start items-end z-10 mb-20"
    >
      <section
        class="z-10 animate-fade-up p-8 dark:bg-secondary-800 bg-primary-200/50 shadow-xl rounded-3xl mb-16 ml-5"
      >
        <h1
          class="flex flex-col gap-1 text-4xl md:text-5xl lg:text-6xl font-inter text-left font-bold dark:text-white/80"
        >
          Unlock Your
          <span class="text-primary-600 font-semibold dark:text-primary-500">
            Online Growth</span
          >
          Potencial
        </h1>
      </section>
    </div>
  </div>
</div>
