---
const { name, description, image } = Astro.props;
---

<div
  class="group w-full max-w-[450px] bg-[#1D2736] rounded-lg shadow hover:bg-white"
>
  <div
    class="flex justify-center items-start
        rounded-t-lg
        overflow-hidden
        h-60
        bg-black/50"
  >
    <img src={image} />
  </div>
  <div class="p-5">
    <a href="#">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight group-hover:text-black text-white"
      >
        {name}
      </h5>
    </a>
    <p class="mb-3 font-normal group-hover:text-gray-700 text-gray-400">
      {description}
    </p>
  </div>
</div>
